<footer class="text-center text-lg-start bg-dark text-white">
  <section class="container d-flex justify-content-center justify-content-lg-between p-4">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
     
      
      <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
      <a href="https://www.instagram.com/silent.boy_2.8/" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3BiGEN5ldWThOTylQ%2FRbrdyg%3D%3D" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>

    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> Blog</h6>
          <p>
          Discover insightful articles, tips, and updates on our blog. Stay informed and inspired with the latest trends and stories tailored just for you.
          </p>
        </div>

        
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          
          <p><a href="{% url "blog:about" %}" class="text-reset">About Us</a></p>
          <p><a href="{% url "blog:contact" %}" class="text-reset">Contact Us</a></p>
        </div>
        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
          <p><i class="fa fa-home"></i> venkatesan kumar</p>
          <p><i class="fa fa-envelope"></i> e23it052@shanmugha.edu.in</p>
          <p><i class="fa fa-phone"></i> + 91 6374717300</p>
        </div>

      </div>
    </div>
  </section>
  <div class="text-center p-4">
    &copy;  2025 Copyright <a class="text-reset fw-bold" href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3BiGEN5ldWThOTylQ%2FRbrdyg%3D%3D"> Venkatesan Kumar</a>
  </div>
</footer>