{% extends "base.html" %}

{% block content %}

<!-- reset_password.html -->
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-3 mt-3">
            <h2>Reset Password</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>

{% endblock  %}
